.list {
    list-style: none;
}

.link{ 
text-decoration: none;
}



body {
    font-family: 'Roboto', sans-serif;
    background-color:var(--secondary-title-color);
}

 :root {
    --main-text-color:  #434455;
    --secondary-text-color:  #E7E9FC;
    --main-title-color: #2E2F42;
    --secondary-title-color: #FFFFFF; }







/* =============COMPONENTS============= */
.studio{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;

}

.logo{
 font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--main-title-color);
   
}


.title{    
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-title-color)
}

.second-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--main-title-color);

}

.text{
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--main-text-color);
}

/* ============= /COMPONENTS============= */










/*=============HEADER=============*/
.logo-color{
    color:var(--secondary-title-color);
}

.menu-link {

font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-title-color);


}



.contacts {
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;

}
.contact-mail {
    color: var(--main-text-color);   
   
}
.contact-number {
    color:var(--main-text-color);
}
 
.header-item  :hover ,
.header-item  :focus {
    color: #404BBF ;
}

 .contact-mail:hover ,
 .contact-mail:focus{
    color: #404BBF
 }

 .contact-number:hover ,
 .contact-number:focus{
    color: #404BBF
 }






/*=============/HEADER=============*/








/*=============HERO=============*/



.hero {
    background-color: var(--main-title-color);
}
.hero-title {

font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;

color: var(--secondary-title-color);

}
.hero-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color:#4D5AE5;
    border: none;
    padding:16px 32px ;
    border-radius: 4px;
    cursor: pointer;

}

.hero-button:hover ,
.hero-button:focus {
 background-color:#404BBF
}


/*=============/HERO=============*/











/*=============Benefits=============*/

.benefits-post-title {
    font-size:  20px;
    line-height: 1.2;
    font-weight: 500;  
}






/*=============/Benefits=============*/






/*=============What are we doing=============*/


/*=============/What are we doing=============*/



/*=============Our team=============*/


.team {
    background-color: #F4F4FD;
}




/*=============/Our team=============*/



/*=============Footer=============*/

.footer {
    background-color: #2E2F42;;
}

.footer-text {
    color:var( --secondary-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/*=============/Footer=============*/



/*=============Portfolio=============*/


.menu-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color:#E7E9FC ;
    border: none;
    padding: 12px 24px; ;
    border-radius: 4px;
    cursor: pointer;
}

.button-item :hover ,
.menu-btn :focus {
    color: #FFFFFF;
    background-color: #404BBF;
}














